<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Donation goal:</strong>
  <%= @project.donation_goal %>
</p>

<p>
  <strong>User: </strong>
  <%= @project.user_id %>
</p>
<br>
  <%= link_to 'Back', projects_path, class: "btn btn-default"  %>
